@using ERP_Component_DAL.Models;
@{
    ViewBag.Title = "View Weaver";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
<link rel="stylesheet" href="~/css/Product.css" />
<div class="table">
    <table>
        <tr>
            <th>Sr no</th>
            <th>Name</th>
            <th>Contact no</th>
            <th>Firm</th>
            <th>Address</th>

        </tr>
    </table>
</div>