@using ERP_Component_DAL.Models;
@{
    ViewBag.Title = "View Sales Forecast Items";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css" />

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Sr no</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
</div>