@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css">

@model List<Items>
 
    @* <h4>Add Opening Stock</h4> *@
</div>


<div id="material" class="container">
    <form method="post" asp-action="OpeningStockEntryForm" asp-controller="Inventory" onsubmit="return savedDetail()">

        <div class="form-section">
            <h3>Add Opening Stock</h3>
            <div class="form-row" style="width:50%">
                <label class="required" for="sku">Opening Stock as on Date:</label>
                <input type="date" name="expiry" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />

            </div>
            <div class="form-row">
                <label class="required" for="supplier">Product Code:</label>
                <input type="number" id="currentStock" name="inStock" />
                <label class="required" for="itemName">Product Name:</label>
                <select name="itemId">

                    <option selected disabled>Select Item</option>
                    @for (var i = 0; i < Model.Count; i++)
                    {

                        <option value="@Model[i].itemId">@Model[i].itemName</option>
                    }
                </select>

                @* <input type="hidden" name="itemType" value="product" required /> *@

               
            </div>
            <div class="form-row">
                <label class="required" for="supplier">Quantity:</label>
                <input type="number" id="currentStock" name="inStock" />
                <label class="required" for="sku">Unit Price:</label>
                <input type="text" name="expiry" required />

               
            </div>
            <div class="form-row">

                <label class="required" for="sku">Invoice Date:</label>
                <input type="date" name="manufacture" required />
                <label class="required" for="sku">Expiry Date:</label>
                <input type="date" name="expiry" required />

            </div>
            <div class="form-row" style="width:50%">
                <label class="required" for="supplier">Batch Series:</label>
                <input type="text" name="batchSeries" />

            </div>
            

        <div class="button">
            <button type="submit">Submit</button>
        </div>
      </div>


    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#itemDropdown').change(function () {
            var itemId = $(this).val();

            if (itemId) {
                $.ajax({
                    url: '/Inventory/GetCurrentStock',
                    type: 'GET',
                    data: { itemId: itemId },
                    success: function (data) {
                        $('#currentStock').val(data.currentStock);
                    },
                    error: function () {
                        alert('Failed to fetch stock');
                    }
                });
            }
        });
    });
</script>

<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your work has been saved",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>
