@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css">

@model List<Category>


<div id="product"  class="container">
    <form method="post" asp-action="AddProduct" asp-controller="Inventory" onsubmit="return savedDetail()">
        
                <div class="form-section">
            <h3>Add Item</h3>
            <div class="form-row">
                <label class="required">Category Name</label>
                <select class="form-control" name="categoryId" id="role" onchange="getName()" required>
                  <option selected disabled>Select</option>
                    @for (var i = 0; i < Model.Count; i++)
                    {

                        <option value="@Model[i].categoryId">@Model[i].categoryName</option>
                    }
                </select>


                <label class="required">Sub Category Name</label>
                <select id="name" name="subCategoryId">
                    <option selected disabled>Select</option>

                </select>
            </div>
            <div class="form-row">

                
                <label class="required" for="sku">Product Code:</label>
                <input type="number"  name="SKU"  required />
                <label class="required" for="productName">Product Name:</label>
                <input type="text"  name="itemName" required />
                <input type="hidden"  name="itemType" value="1" required />
            </div>
            <div class="form-row">
                <label class="required" for="hsn">HSN:</label>
                <input type="number"  name="HSN"/>
                        
                <label for="descr">Specification:</label>
                <textarea style="width:32%;" name="specification"></textarea>
               
                </div>
            <div class="form-row">
               
                <label for="cost">Minimum Stock Level:</label>
                <input type="text" name="inStock" />
                @* <label for="mrp">MRP:</label> *@
               
                <label for="image">GST Rate:</label>
                <select id="" name="gst">
                    <option value="0">0%</option>
                    <option value="5">5%</option>
                    <option value="9">9%</option>
                    <option value="12">12%</option>
                    <option value="18">18%</option>
                    <option value="28">28%</option>
                </select>

            </div>
            @* <div class="form-row"> *@
            @*     <label class="required" for="msl">Expiry Date:</label> *@
            @*     <input type="date" name="expiry" /> *@
            @*     <input type="hidden" name="type" value="batch" required /> *@
              
            @* </div> *@
            @* <div class="form-row" style="width:50%;">  *@
            @*     <label class="required" for="Idate">Invoice Date:</label> *@
            @*     <input type="date" name="Idate" /> *@
            @*     <div></div> *@
            @* </div> *@
            <div class="button">
                <button type="submit">Submit</button>
            </div>
         </div>



               

    @*           <div class="form-section"> *@
    @*     <h3>Stock Details</h3> *@
    @*     <div class="form-row"> *@

    @*             <label class="required" for="costPrice">In Stock:</label> *@
    @*         <input type="number" name="inStock" required/> *@

    @*             <label class="required" for="sellingPrice">Stock Alert:</label> *@
    @*         <input type="number" name="stockAlert" required/> *@
    @*     </div> *@
    @*         <div class="form-row" style="width:50%"> *@
    @*             <label class="required" for="wholeSalePrice">Warehouse:</label> *@
    @*             <select name="warehouseId" > *@
    @*                 <option selected disabled></option> *@
    @*             @foreach (var scheme in Model) *@
    @*             { *@
    @*                 @foreach (var warehouse in scheme.warehouse) *@
    @*                 { *@
    @*                     <option value="@warehouse.warehouseId">@warehouse.warehouseName</option> *@
    @*                 } *@
    @*             } *@
    @*             </select> *@
    @*     </div> *@

      

    @* </div> *@


           
    </form>
</div> 






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        function getName() {
        var Id = $("#role").val();

        $.ajax({
            type: "GET",
            url: "/Inventory/SubCategoriesNames",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { categoryId: Id },
                success: function (response) {
        console.log("Subcategories response:", response);
        if (response.length > 0) {
            $("#name").empty();
            $("#name").append('<option selected disabled>Select</option>');
            response.forEach(function (item) {
                console.log("Each item:", item);
                $("#name").append('<option value="' + item.subCategoryId  + '">' + item.categoryName + '</option>');
            });
        } else {
            $("#name").empty().append('<option selected disabled>No SubCategory Found</option>');
        }
    },

            error: function (xhr, status, error) {
                console.error("AJAX Error: ", error);
                console.error("Status: ", status);
                console.error("Response: ", xhr.responseText);
                alert("Error fetching user data. Check console for details.");
            }
        });
    }


</script>

<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your work has been saved",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>



