@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css">

@model List<Product>

<div class="header1">
    <h4>Add Product</h4>
</div>

<div id="product"  class="container">
    <form method="post" asp-action="AddProduct" asp-controller="Inventory" onsubmit="return savedDetail()">
        
                <div class="form-section">
            <h3>Product Info</h3>
            <div class="form-row">

                <label class="required" for="productName">Product Name:</label>
                <input type="text"  name="itemName" required />
                <input type="hidden"  name="itemType" value="1" required />
                
                <label class="required" for="sku">Stack Keeping Unit(SKU):</label>
                <input type="number"  name="SKU"  required />
            </div>
            <div class="form-row">
                <label class="required" for="hsn">HSN:</label>
                <input type="number"  name="HSN"/>
                <label class="required" for="category">Category:</label>
                <select name="categoryId" id="role" onchange="getName()">
                    <option disabled selected>Select</option>
                @foreach (var scheme in Model)
                {
                    @foreach (var category in scheme.category)
                    {
                        <option value="@category.categoryId">@category.categoryName</option>
                    }
                }
                </select>          
                </div>
            <div class="form-row">
                <label class="required" for="subCategory">Sub-category:</label>
                <select id="name" name="subCategoryId">
                    <option selected disabled>Select</option>

                </select>
                <label for="descr">Specification:</label>
                <textarea style="width:33%" name="specification"></textarea>
               
            </div>
            <div class="form-row">
               
                <label for="cost">Cost Price:</label>
                <input type="text" name="costPrice" />
                <label for="mrp">MRP:</label>
                <input type="text" name="mrp" />
            </div>
            <div class="form-row">
              
                <label for="selling">Selling Price:</label>
                <input type="text" name="sellingPrice" />
                <input type="hidden" name="type" value="batch" />

                <label for="image">Unit Of Measurement:</label>
                <input type="text" name="UOM" />
            </div>
            <div class="form-row">
               
                <label for="image">GST:</label>
                <input type="number" name="gst" />
                <label class="required" for="msl">Expiry Date:</label>
                <input type="date" name="expiry" />
                <input type="hidden" name="type" value="batch" required />
              
            </div>
         </div>



               

              <div class="form-section">
        <h3>Stock Details</h3>
        <div class="form-row">

                <label class="required" for="costPrice">In Stock:</label>
            <input type="number" name="inStock" required/>

                <label class="required" for="sellingPrice">Stock Alert:</label>
            <input type="number" name="stockAlert" required/>
        </div>
            <div class="form-row" style="width:50%">
                <label class="required" for="wholeSalePrice">Warehouse:</label>
                <select name="warehouseId" >
                    <option selected disabled></option>
                @foreach (var scheme in Model)
                {
                    @foreach (var warehouse in scheme.warehouse)
                    {
                        <option value="@warehouse.warehouseId">@warehouse.warehouseName</option>
                    }
                }
                </select>
        </div>
        


    </div>


           <div class="button-container">
            <button type="submit">Submit</button>
            <button type="reset" >Reset</button>
        </div>
    </form>
</div> 






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        function getName() {
        var Id = $("#role").val();

        $.ajax({
            type: "GET",
            url: "/Inventory/SubCategoriesNames",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { categoryId: Id },
                success: function (response) {
        console.log("Subcategories response:", response);
        if (response.length > 0) {
            $("#name").empty();
            $("#name").append('<option selected disabled>Select</option>');
            response.forEach(function (item) {
                console.log("Each item:", item);
                $("#name").append('<option value="' + item.subCategoryId  + '">' + item.categoryName + '</option>');
            });
        } else {
            $("#name").empty().append('<option selected disabled>No SubCategory Found</option>');
        }
    },

            error: function (xhr, status, error) {
                console.error("AJAX Error: ", error);
                console.error("Status: ", status);
                console.error("Response: ", xhr.responseText);
                alert("Error fetching user data. Check console for details.");
            }
        });
    }


</script>

<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your work has been saved",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>



