@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = " Stock Transfer";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

@model List<Product>
<link rel="stylesheet" href="~/css/Product.css">
 
    @* <h4>Add Stock Transfer</h4> *@


@* 
<div id="product" class="container">
    <form method="post" asp-action="AddStockTransfer" asp-controller="Inventory" onsubmit="return savedDetail()">

        <div class="form-section">
            <h3>Add Stock Transfer</h3>
            <div class="form-row">

                <label class="required" for="sku">Reason for Item Entry:</label>
                <input type="text" name="stockDate" value="By Purchase" readonly />
                <label for="date">Date:</label>
                <input type="date" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-row">
                <label class="required" for="supplier">Product Code:</label>
                <input type="text" id="currentStock" name="inStock" />
                <label class="required" for="itemName">Product Name:</label>
                <select name="itemId">

                    <option selected disabled>Select Item</option>
                    @for (var i = 0; i < Model.Count; i++)
                    {

                    }
                </select>

             </div>
            <div class="form-row">
                <label class="required" for="batch">Batch Number:</label>
                <input type="text" name="batchSeries">
                <label for="cost">Available Stock:</label>
                <input type="text" name="available" />
                <input type="hidden" name="type" value="stockOut">
            </div>
            <div class="form-row">
              

                <label for="descr">Quantity Allocated:</label>
                <input type="number" name="quantity">
                <label for="cost">Remaining Stock:</label>
                <input type="text" name="available" />
            </div>
            <div class="form-row">
                <label for="image">Current Owner:</label>
                <input type="text" name="totalPrice">
                <label for="image">Assign To:</label>
                <input type="text" name="totalPrice">

            
            </div>

            <div class="button">
                <button type="reset">Reset</button>
                <button type="submit">Submit</button>
            </div>
        </div>





    </form>
</div>
 *@<div class="table">
    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Date</th>
                <th> Req. Series</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>



        <tbody id="geeks">
            <tr>
                <td>1</td>
                <td>2-2-2025</td>
                <td>ABC_2025/1</td>
                <td>Description</td>
                <td><button type="button">View MR</button></td>
            </tr>
        </tbody>

    </table>
</div>
<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your work has been saved",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>