@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = "Add Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css">



<div id="product" class="container">
    <form method="post" asp-action="AddSock" asp-controller="Inventory">

        <div class="form-section">
            <h3>Add Stock</h3>
            <div class="form-row">

                <label class="required" for="productName">Product Name:</label>
                <input type="text" name="productName" required />
                @* <input type="hidden" name="itemType" value="product" required /> *@

                <label class="required" for="sku">Order Date:</label>
                <input type="date" name="orderDate" required />
            </div>
            <div class="form-row">
                <label class="required" for="supplier">Customer Name:</label>
                <input type="text" name="supplierName" />
                <label class="required" for="invoice">Customer Contact:</label>
                <input type="text" name="invoice" />
            </div>
            <div class="form-row">
                <label class="required" for="batch">Batch Number:</label>
                <input type="text" name="batchNumber">

                <label for="descr">Quantity Ordered:</label>
                <input type="number" name="quantity">

            </div>
            <div class="form-row">
                <label for="price">Selling Price:</label>
                <input type="text" name="sellingPrice" />
                <label for="cost">Available Stock:</label>
                <input type="text" name="available" />
            </div>
            <div class="form-row">
                <label for="mrp">Tax%:</label>
                <input type="number" name="tax" />
                <label for="selling">Discount%:</label>
                <input type="text" name="discount" />
            </div>
            <div class="form-row">

                <label for="image">Total Amount:</label>
                <input type="text"  name="total">
                <label for="image">Payment methode:</label>
                <input type="text" name="payment" />
            </div>
            <div class="form-row">

                <label class="required" >Payment Status:</label>
                <input type="text" name="paymentStatus" required />


                <label class="required" for="sku">Order Status:</label>
                <input type="text" name="purchaseStatus" required />
            </div>
            <div class="form-row">
                <label for="image">Delivery Date:</label>
                <input type="date" name="delivery" />
                <label for="image">Remarks:</label>
                <textarea name="remark"></textarea>
                
            </div>
        </div>






        <div class="button-container">
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</div> 