@* @model List<StockAdjustment> *@

@{
    ViewBag.Title = "Stock Adjustments";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";

    }

    <link href="~/css/Product.css" rel="stylesheet" />


<div class="table">
    
    @* @if (TempData["Message"] != null) *@
    @* { *@
    @*     <div class="message">@TempData["Message"]</div> *@
    @* } *@
    <table>
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Previous Quantity</th>
                <th>Adjusted Quantity</th>
                <th>New Quantity</th>
                <th>Reason</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Wireless Mouse</td>
                <td>50</td>
                <td>-5</td>
                <td>45</td>
                <td>Damaged</td>
                <td>2025-05-29</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>Mechanical Keyboard</td>
                <td>30</td>
                <td>+10</td>
                <td>40</td>
                <td>Restock</td>
                <td>2025-05-30</td>
            </tr>
            <tr>    
                <td>1003</td>
                <td>Gaming Headset</td>
                <td>20</td>
                <td>-2</td>
                <td>18</td>
                <td>Lost Item</td>
                <td>2025-05-31</td>
             </tr>
        </tbody>
    </table>
</div>
