.header1 {
    width: 100%;
      color: #138496;
    padding: 10px;
    display: flex;
    margin: 10px 10px 30px 10px;
    text-align: center;
    justify-content: center
}

label.required::after {
    content: "*";
    color: #138496;
}

h4{
    font-size:25px !important;
}

.tab-buttons {
    display: flex;
    padding: 20px 60px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}

    .tab-buttons button {
        padding: 8px 16px;
        border: none;
        background-color: #138496;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

.table-button button[type=button]{
    margin:0px !important;
}




/*h4 {
    background-color: #023e8ac7;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}*/

.container {
    background-color: #ffffff;
    width: 98%;
    background-color: #ffffff;
    border-radius: 10px;
/*    margin: 0px 0px 30px 0px !important;*/
    padding: 0px;
}

.table-container {
    background-color: #ffffff;
    width: 98%;
    background-color: #ffffff;
  
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0.1, 0.1, 0.1, 0.1);
    padding-bottom: 50px;
    margin:auto;
/*    margin-bottom: 30px;*/
}


select:focus {
    outline: none;
    border: 2px solid #138496;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.form-section {
   width:94%;
   margin-inline:35px;
    border-radius: 10px;
    margin-bottom:35px;
    margin-top:25px;
    padding: 20px;
    border: 1.5px solid #138496;
    position: relative;
    box-shadow:2px 2px 3px #138496;
}

    .form-section h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
        color: #138496;
        position: absolute;
        top: -0.7em;
        left: 10px;
        background-color: #FFFFFF;
        /*        background-color: #f9f9f9; */
        padding: 0 5px;
    }
.table h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: #138496;
    position: absolute;
    top: -0.5em;
    background-color: #f9f9f9;
    padding: 0 5px;
}
h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 21px;
    color: #138496;
    padding: 0 5px;
}
input:focus {
    outline: none;
    /*    border: 2px solid #023e8ac7;*/
    border: 2px solid #138496;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px 0px 0px;
}

    .form-row label {
        font-size: 16px;
        font-weight: bolder;
        width: 150px;
        text-align: center;
        color: #555555;
        padding-right: 10px;
    }

    .form-row input {
        font-size: 16px;
        flex: 1;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* Ensures padding doesn't affect width */
        margin-right: 10px;
        color: grey;
    }
    .form-row textarea {
        font-size: 16px;
        flex: 1;
        color: grey;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* Ensures padding doesn't affect width */
        margin-right: 10px;
    }

    .form-row select {
        font-size: 16px;
        flex: 1;
/*        height: 30px;*/
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* Ensures padding doesn't affect width */
        margin-right: 10px;
        color: grey;
    }
.form-section p {
    margin: 0px;
    color: #555555;
    font-size: 16px;
    justify-self: center;
}
/*    .form-row select {
        width: 200px;
    }*/

.radio-group {
    display: flex;
    align-items: center;
}

    .radio-group label {
        text-align: left;
    }

    .radio-group input[type="radio"] {
        margin: 0 5px;
    }

.button-container {
    text-align: end;
    margin-top: 20px;
}


    .button {
       width:100%;
       display:flex;
       justify-content:end;

    }
.buttonforeditanddelete {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right:50px;
}
.buttonforeditanddelete button{
    margin:2px;
}
.button button {
    display:flex;
    width: auto;
    background-color: #138496;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 5px 0px 0px;
    height: 30px;
    padding:2px 10px 2px 10px !important;
    justify-self:center;
    align-items:center;
}
button {
    justify-self:center;
    background-color: #138496;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 5px 0px 0px;
    display:flex;
    align-items:center!important;
    width: auto;
    padding-inline:10px;
    height: 30px;
}
 /*   button[type=submit]{
        margin:25px 35px 0px 0px;
    }*/

    button[type=reset] {
        margin: 10px 10px 0px 0px !important;
        background-color: #e0a800;
    }
    button[type=button] {
        background-color:#138496;
        margin:10px 10px 0px 0px !important;
    }

table {
    width: 100%;
/*    display:block;*/
    /*    margin-inline:35px;*/
    /*    border-collapse: collapse;*/
    background: white;
    border-radius: 10px;
    /*    border: 1.5px solid #138496;*/
    overflow-x: auto;
    box-shadow: 2px 2px 3px #138496;
}
.vendor-table{
    display:block;
}
th, td {
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
td{
    color:#555555;
}
th {
    background-color: #138496;
    color: white;
}

.actions{
    display:flex;
    justify-content:center;
}
    .actions button {
        border-radius:5px;
        background: #138496;
        color:white;
        border:none;
        margin-right: 5px;
        padding: 4px 6px;
        font-size: 16px;
    }
.table {
    width: 94%;
    margin-inline: 35px;
    border: 1.5px solid #138496;
    border-radius: 10px;
    position: relative;
}
.tab-button {
    padding: 10px 20px;
    background-color: #023e8a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
body{
    font-weight:400 !important;
}
label {
    font-size:16px;
    font-weight: 400 !important;
}

p input{
    border:none;
}


.table-button {
    width: 100%;
    display: flex;
    justify-content:center;
}

.table-button button {
    display: flex;
    width: auto;
    background-color: #138496;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 5px 0px 0px;
    height: 30px;
    padding: 2px 10px 2px 10px !important;
    justify-self: center;
}
.hover-button {
    position: relative;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.hover-button::after {
    content: " 🚀 Go!";
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-left: 10px;
}

.hover-button:hover::after {
    opacity: 1;
}
.button .tab-btn {
    color: black;
    background-color: #fcbcbc;
    border: none;
    padding: 8px 16px;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    transition: all 0.3s ease;
}

    .button .tab-btn.active {
        color: white;
        background-color: #138496;
        position: relative;
    }

        /* Optional bottom curve underline look */
        .button .tab-btn.active::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 4px;
            background-color: #138496;
            border-radius: 20px;
        }
.card i p{
    font-size:large;
    margin:0px !important;
}
.card-body p span {
    float: right;
    font-weight: 400;
    color: #138496;
}
.card {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px #138496;
    }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.6); /* grey with transparency */
    display: none;
    justify-content: center;
    z-index: 9999;
}

.Popuptable {
    background-color: white;
    border-radius: 8px;
    max-height: max-content;
    margin-top:50px;
    width:600px;
    overflow-y: auto;
    z-index: 10000; /* ensure it's above */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
