@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = "Add Warehouse Location";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css">

@model List<Warehouse>

 
    @* <h4>Add Warehouse</h4> *@
<div id="material" class="container">
    <form method="post" asp-action="AddWarehouseLocation" asp-controller="Warehouse" onsubmit="savedDetail()">

        <div class="form-section">
            <h3>Warehouse Info</h3>
            <div class="form-row">

                <label class="required" for="Name">Warehouse Name:</label>
                <select class="form-control" name="warehouseId" required>
                    <option disabled selected> select Name</option>
                    @for (var i = 0; i < Model.Count; i++)
                    {

                        <option value="@Model[i].warehouseId">@Model[i].warehouseName</option>
                    }
                </select>

                <label class="required" for="zone">Zone Name:</label>
                <input type="text" name="zoneName" required />
            </div>
            <div class="form-row">
                <label class="required" for="aisle">Aisle Number:</label>
                <input type="text" name="aisle" />
                <label class="required" for="category">Shelf Number:</label>
                <input type="text" name="shelfNumber" />
            </div>
            <div class="form-row">
                <label class="required" for="subCategory">LocationCode:</label>
                <input type="text" name="locationCode" />
                <label for="descr">Description:</label>
                <textarea style="width:33%" name="description"></textarea>

            </div>

                <div class="button">
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </div>
           
        </div>



        

    </form>
</div>

<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your work has been saved",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>

