@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = "Add Asset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css">

@model List<Category>

<div class="header1">
    <h4>Add Asset</h4>
</div>
<div id="asset" class="container">

    

    <form method="post" asp-action="AddAsset" asp-controller="Asset" onsubmit="savedDetail()">

        <div class="form-section">
            <h3>Add Asset</h3>
            <div class="form-row">

                <label class="required" for="assetName">Item Name:</label>
                <input type="text" name="itemName" />
                <input type="hidden" name="itemType" value="3" />
                

                <label class="required" for="type">Item Type:</label>
                <input type="text"  name="assetType" />
            </div>
            <div class="form-row">
                <label class="required" for="category">Category:</label>
                <select class="form-control" style="padding:10px" name="categoryId" required>
                    <option disabled selected> select Name</option>
                    @for (var i = 0; i < Model.Count; i++)
                    {

                        <option value="@Model[i].categoryId">@Model[i].categoryName</option>
                    }
                </select>
                <label class="required" for="serial">Serial Number:</label>
                <input type="text" name="serialNumber" />

            </div>
            <div class="form-row">
               

                <label for="cost">Purchase Cost:</label>
                <input type="number" name="price">

          
               
                <label for="cost">Warranty Period:</label>
                <input type="date" name="warrantyEndDate" />
            </div>

            <div class="form-row">
               
                <label for="department">Depreciation %:</label>
               <input type="number" name="depreciation" />
                <label for="assign">Assign To:</label>
                <input type="text" name="assignto" />
            </div>

            <div class="form-row">
                <label for="assign">Status:</label>
                <select name="status">
                    <option selected disabled>Select</option>
                    <option >Available</option>
                    <option>Under Inspection</option>
                    <option>Damaged</option>
                </select>
                <label for="location">Description:</label>
                <textarea name="description"></textarea>
            
            </div>
        </div>






        <div class="button-container">
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</div>

<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your work has been saved",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>