@* @using ERP_Component_DAL.Models; *@
@{
    ViewBag.Title = "Login Authentication";
    Layout = "~/Views/Shared/_loginLayout.cshtml";

}
@* @model Users *@


 <link asp-append-version="true" rel="stylesheet" href="/css/Login.css" type="text/css" /> 
<style>
    .form-control-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .form-control {
        width: 100%;
        padding-right: 35px;
    }

    .eye-icon {
        
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #666;
        font-size: 16px;
    }
</style>



<div class="text-center">
<main class="form-signin" style="border-radius: 10px; background: #FFFFFF; height: 450px; box-shadow: 2px 2px 3px #138496;">
    <form id="loginForm" style="display:grid; justify-content:center;" onsubmit="return Validate();">
        <div style="width:150px;margin:auto; display:flex;justify-content:center;align-items:center">
                <img style="width: 150px;margin:35px 0px 20px 0px;height: 120px;display: flex;justify-content: center;align-items: center;" src="/images/logo.png" />
        </div>




        <div id="error-message" style="color: red; display: none;"></div>

        <div class="form-floating" style="margin-top:30px">
                <label style="font-size:14px; font-weight:500" for="username">User Name</label>
                <input type="text" class="form-control" id="username" name="userName" placeholder="Username" required style="padding: 10px 5px;margin-top:7px;border:1px solid #138496;border-radius:5px">
        </div>

        <div class="form-floating" style="margin-top:5%">
                <label style="font-size:14px;font-weight:500" for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required style="margin-top:7px;padding: 10px 5px;border:1px solid #138496;border-radius:5px">
           <i class="fa-solid fa-eye-slash eye-icon" onclick="togglePassword('password', this)"></i> 
        </div>

        <div style="display:flex;justify-content:center; margin-top:25px;">
                <button type="submit" >Log In</button>
        </div>

    </form>
</main>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    function togglePassword(inputId, eyeIcon) {
        let inputField = document.getElementById(inputId);

        if (inputField.type === "password") {
            inputField.type = "text";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        } else {
            inputField.type = "password";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        }
    }

    function Validate() {
        var user = {
            userName: $('#username').val(),
            password: $('#password').val()

        };

        $.ajax({
            type: "POST",
            url: "/Home/Login",
            data: user,
            success: function (result) {
                if (result.status) {
                    window.location.href = result.url;
                } else {
                    $('#error-message').text('Incorrect username or password').show();
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', status, error);
                $('#error-message').text('An error occurred: ' + error).show();
            }
        });

        return false;
    }


    $(document).ready(function () {
        $('#username, #password').on('input', function () {
            $('#error-message').hide();
        });
    });
</script>