@using ERP_Component_DAL.Models;
<link rel="stylesheet" href="~/css/Product.css" />

@model User

@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}


<div class="form-section">
    <h3>Account Settings</h3>
    <label for="user">Change Username:</label>
    <input type="radio" value="user" name="user" onclick="showuser(0)" />
    <label for="user">Change Password:</label>
    <input type="radio" value="pass" name="user" onclick="showuser(1)" />

    <div id="usernameSection" style="display:none;">
        <form method="post" asp-action="SetUsername" asp-controller="Home" onsubmit="savedDetail()">
        <div class="form-row" style="width:50%">
            <label for="currentUsername">Current Username:</label>
            <input type="text" id="currentUsername" name="oldUserName" value="@Model.oldUserName" placeholder="Username">
            <input type="hidden" name="employeeId" value="@Model.employeeId" placeholder="Username">
        </div>
        <div class="form-row">
            <label for="newUsername">New Username:</label>
            <input type="text" id="newUsername" name="username" placeholder="New Username" >
            <label for="reenterUsername">Re-Enter UserName:</label>
           <input type="text"  name="newUsername"  placeholder="Re-Enter UserName" />
        </div>
        <div class="button">
            <button class="submit">Save</button>
            </div>
        </form>

    </div>

    <div id="passwordSection" style="display:none;width:100%;">
        <form method="post" asp-action="SetPassword" asp-controller="Home" onsubmit="savedDetail()">
        <div class="form-row" style="width:50%">
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" placeholder="Password">
            <input type="hidden" id="currentPassword" value="@Model.oldPassword" name="oldPassword" placeholder="Password">
        </div>
        <div class="form-row"style="width:100%">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="password" placeholder="New Password">
                <input type="hidden" id="newPassword" name="employeeId" value="@Model.employeeId" placeholder="New Password">
            <label for="reenterPassword">Re-Enter Password:</label>
            <input type="password" id="reenterPassword" name="reenterPassword" placeholder="Re-Enter Password">
        </div>

        <div class="button">
            <button class="submit">Save</button>
        </div>
        </form>
    </div>

    
</div>

<script>
    function showuser(i){
        if(i === 0){
            document.getElementById("usernameSection").style.display = "grid";
            document.getElementById("passwordSection").style.display = "none";
        } else {
            document.getElementById("usernameSection").style.display = "none";
            document.getElementById("passwordSection").style.display = "grid";
        }
    }
</script>


<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your Details Changed successfully",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script>