@using ERP_Component_DAL.Models

<link rel="stylesheet" href="~/css/Product.css" />
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
<section class="form-section">
    <h3>Contact Us</h3>
  <p>+91 8650006532</p>
  <p>Himanshu_negi@gmail.com</p>
  <p>lane 1 Vasant Kunj Premnagar,Dehradun,Uttarakhand </p>
</section>