@* @model List<Expense> *@
<link rel="stylesheet" href="~/css/Product.css" />

@{
    ViewBag.Title = "Expense ";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
@* <h1>Expense Entries </h1> *@
<form asp-action="setExpense" asp-controller="Home" method="post">
    <div class="form-section" style="    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 0px solid;
    box-shadow: 0px 0px 0px;">
        <h3>Basic Details</h3>
        <div class="form-row">
            <label class="required" for="entrydate"> Entry Date : </label>
            <input type="date" name="entrydate" required />
            <label class="required" for="project"> Project : </label>
            <input type="text" name="project" required />
        </div>
    </div>
    <div class="form-section" style="margin-top: 2px;
    margin-bottom: 0px;
    border-bottom: 0px solid;
    border-top: 0px solid;
    box-shadow: 0px 0px 0px;">
        <h3>Entry Details</h3>
        <div class="form-row">
            <label class="required" for="particular"> Particular : </label>
            <input type="text" name="particular" required />
            <label for="debit"> Debited : </label>
            <input type="text" name="debit" id="debit" value="" oninput="debited()" />
            <div class="form-row" style="width:50%">
                <label for="credit"> Credit : </label>
                <input type="text" name="credit" id="credit" oninput="credited()" />
            </div>
        </div>
    </div>
    <div class="form-section" style="    margin-top: 0px;
    border-top: 0px;
    box-shadow: 0px 2px 3px #138496;">
        <h3>Additional Details</h3>
        <div class="form-row">
            <label class="required" for="reference"> Reference : </label>
            <input type="text" name="reference" required />
            <label class="required" for="narration"> Narration : </label>
            <input type="text" name="narration" required />
        </div>
        <div class="button">
                <button type="submit">Submit</button>
        </div>
    </div>
    <br />
    @* 
    <p id="debited"> Debited Total: <input type="text" id="debitedTotal" readonly /></p>
    <p id="credited"> Credited Total: <input type="text" id="creditedTotal" readonly /></p><br /> *@

</form>

<script>
                const a = document.getElementById("debit");
                const b = document.getElementById("credit");
                const c = document.getElementById("debitedTotal");
                const d = document.getElementById("creditedTotal");
    function debited(){

              c.value = a.value;
                b.setAttribute('disabled','');
                document.getElementById("debited").style.display = "block";
    }
    function credited(){
              d.value = b.value;
                a.setAttribute('disabled','');
                d.style.display = "block";
            document.getElementById("credited").style.display = "block";
    }


</script>