@using ERP_Component_DAL.Models 
<style>
    #outstanding, #outstanding, #paymenttable {
        display: none;
    }
</style>

@{
    ViewBag.Title = "Make Payment";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

@model Expense 
<link rel="stylesheet" href="~/css/Product.css" />

@* <h2 style="  text-shadow: 1px 5px 5px grey;color:#138496"> Make Payment</h2> *@

<div class="form-section">
    <h3>Payment Details</h3>
    <div class="form-row" style="width:50%">
        <label class="required" for="date">Date :</label>
        <input type="date" id="date" name="date" required />
    </div>
    <div class="form-row">
            <label class="required" for="VenderName">Vender Name :</label>
            <select name="VenderName" id="VenderName" oninput="show()">
                <option selected disabled value="value">text</option>
                <option value="vender">Vender1</option>
            </select>
            <label class="required" for="project">Project :</label>
            <input type="text" id="project" name="project" required />       
    </div>
</div>
<div id="outstanding" style=" width:100%;display:none">
    <h2>Outstanding Summary</h2>
   @*  <div>
        <button style="background-color:#138496;color:white;margin-bottom:25px;">Outstanding Summary </button>
    </div> *@
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Particular</th>
                    <th>Debited</th>
                    <th>Credited</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Amount Paid in advance:</td>
                    <td>1000</td>
                    <td>0</td>
                </tr>

                <tr>
                    <td>Outstanding Bill Amount:</td>
                    <td>0</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Debit Note Amount:</td>
                    <td>0</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Credit Note Amount:</td>
                    <td>0</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Unsettled Journal Entries</td>
                    <td>0</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Total Amount</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-bottom:25px;margin-left:25px">
        <label id="pendingsettle" class="required" for="bill"> You have pending bill of ₹@Model.balance , Do you want to settle that bill?  </label>
        <input type="radio" name="taxtype" value="yes" required oninput="paymentsettle(),billsettlement()" />Yes
        <input type="radio" name="taxtype" value="no" required oninput="advancepayment()" />No
    </div>
    <div id="bill" style="display:none;margin:25px;">
        <div style="display:flex; justify-content:space-between; margin-left:25px;">
            <div class="label" style="height:50px;">
                <label for="payment">Payment Released</label>
                <input type="text" id="payment" name="payment" oninput="paymentrelease(),billsettlement()" required />
            </div>
            <div>
                <p id=""> Payment to be made: <input type="text" id="" value="₹@Model.balance" readonly /></p>
                <p id=""> Amount of payment: <input type="text" id="" readonly /></p>
                <p id=""> Journal Amount: <input type="text" id="" readonly /></p>
                <p id=""> Amount in hand: <input type="text" id="debitedTotal" readonly /></p>

            </div>
        </div>
        <h2>Bills of Settlement</h2>
        <div class="table">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Id.</th>
                        <th>date</th>
                        <th>Amount</th>
                        <th>Amount Due</th>
                        <th>payment</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

</div>

<div id="Advancepayment" style="display:none;">
    <label id="pendingpayment" class="required" for="advance ">  Do you want to make advance payment ?  </label>
    <input type="radio" name="taxtype" value="yes" required oninput="paymentbill()" />Yes
    <input type="radio" name="taxtype" value="no" required />No
</div>
<div id="paymenttable" style="display:none;">
    <div style="display:flex; justify-content:space-between">
        <div class="label" style="height:50px;">
            <label for="payment">Payment Released</label>
            <input type="text" id="payment" name="payment" oninput="paymentrelease()" required />
        </div>
        <div>
            <p id=""> Payment to be made: <input type="text" id="" readonly /></p>
            <p id=""> Amount of payment: <input type="text" id="" readonly /></p>
            <p id=""> Journal Amount: <input type="text" id="" readonly /></p>
            <p id=""> Amount in hand: <input type="text" id="debitedTotal" readonly /></p>

        </div>
    </div>
    <h2>Payment Details</h2>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Id.</th>
                    <th>date</th>
                    <th>Amount</th>
                    <th>Mode of payment</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>2-2-2025</td>
                    <td>1000</td>
                    <td>COD</td>
                </tr>


            </tbody>
        </table>

    </div>
</div>
<script>
            const out = document.getElementById("outstanding");
            const advance = document.getElementById("Advancepayment");
             const pay = document.getElementById("bill");
             const bill = document.getElementById("paymenttable");
             let payment = document.getElementById("payment");

          function show(){
            out.style.display= "inline-grid";
          }
        function paymentsettle(){
          pay.style.display = "grid";
        }
        function paymentbill(){
           bill.style.display = "grid";
        }
        function advancepayment(){
            advance.style.display = "block";
            pay.style.display = "none";

        }
        function paymentrelease(){

           document.getElementById("debitedTotal").value = payment.value;
        }

        const data = [
          { sr:1, date: "2-2-2025", Amount: 200, Amountdue: 100, status:"complete"},
          {sr:2,  date: "2-3-2023", Amount: 300, Amountdue: 200,status:"inprogress" },
          {sr:3, date: "2-4-2025", Amount: 222, Amountdue:50 ,status:"inprogress"},
          {sr:4, date: "2-4-2025", Amount: 222, Amountdue: 20,status:"inprogress"},
          {sr:5, date: "2-4-2025", Amount: 222, Amountdue: 30,status:"inprogress"}
        ];
       function billsettlement(){

        const tableBody = document.querySelector("#dataTable tbody");
              tableBody.innerHTML = "";

        data.forEach((item,index) => {
          const row = document.createElement("tr");
          const sr = document.createElement("td");
          sr.textContent = index+1;
         row.appendChild(sr);


          const nameCell = document.createElement("td");
          nameCell.textContent = item.date;
          row.appendChild(nameCell);

          const ageCell = document.createElement("td");
          ageCell.textContent = item.Amount;
          row.appendChild(ageCell);

          const cityCell = document.createElement("td");
          cityCell.textContent = item.Amountdue;
          row.appendChild(cityCell);

          const Status = document.createElement("td");

         const button = document.createElement("button");
         button.style.margin="0px";
        let paymentValue = parseFloat(payment.value);

        if(item.Amountdue <= paymentValue){
            button.textContent = "Fully Paid";
            Status.appendChild(button);
        } else {
            button.textContent = "Partially Paid";
            Status.appendChild(button);
        }
        button.dataset.index = index;

                  button.addEventListener("click", function (e) {
                const idx = e.target.dataset.index;
                 paymentValue -= data[idx].Amountdue;
                    if (paymentValue !== null && !isNaN(paymentValue)) {
                      data[idx].Amountdue = 0;
                          document.getElementById("debitedTotal").value=paymentValue;
                          payment.value = paymentValue;
                  billsettlement();
                }
              });

          row.appendChild(Status);
          if(item.Amountdue == 0){

          }
          else{
          tableBody.appendChild(row);
          }
        });
    }
</script>