@using ERP_Component_DAL.Models

@{
    ViewBag.Title = "Payable";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css" />
@model List<MakePayment>

<div class="table">
    <table >
        <thead>
            <tr>
                <th>S.No</th>
                <th>Vender Name</th>
                <th>Amount Paid</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>



            @for (var i = 0; i < Model.Count; i++)
            {
                var x = Model[i];
                var index = i + 1;

                <tr>



                    <td>@index</td>
                    <td>@x.VendorName</td>
                    <td>@x.TotalAmountPaid</td>
                    <td>

                        <button onclick="location.href='@Url.Action("MakePayment", "Account",new{VendorID = x.VendorID})'">Add</button>
                   
                    </td>





                </tr>
            }
        </tbody>
    </table>
</div>