@{
    ViewBag.Title = "Receivable";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
@* <h2 style="  text-shadow: 1px 5px 5px grey;color:#138496"> Receivable</h2> *@

<link rel="stylesheet" href="~/css/Account.css" />

<div>
    <table>
        <thead>
            <tr>
                <th>Sr.</th>
                <th>Customer Name</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>Sunder</td>
                <td>1000</td>
                <td><button>Received</button></td>
            </tr>

        </tbody>
    </table>
</div>