<link rel="stylesheet" href="~/css/Account.css" />

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
@* <h3>Accounts </h3> *@
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Account Code</th>
            <th>Account Name</th>
            <th>Group Name</th>

        </tr>
    </thead>
    <tbody>
      @*  @foreach (var item in Model)
        {
            <tr>
                <td>@item.accountcode</td>
                <td>@item.accountname</td>
                <td>@item.groupname</td>
            </tr>
        }*@
    </tbody>
</table>